<%= form_for(@coupon) do |f| %>
<p><%= f.label :coupon_code %><br>
<%= f.text_field :coupon_code %>
</p>

<p> <%= f.label :store %><br>
<%= f.text_field :store %>
</p>
<%= f.submit %>
<% end %><br> 





